.grid {
    position: absolute;
    width: 900px;
    height: 600px;
    border: black solid 2px;
    margin-top: 80px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: palevioletred;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: navy;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: brown;
}